.featurettwo-section{
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.featurettwo-section::after,
.featurettwo-section::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #9e51b9;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.featurettwo-section::after{
    top: -3rem;
    left: -5rem;
}

.featurettwo-section::before{
    background: #7c66e3; 
    bottom: 0rem;
    right: 0rem;
}

.featurettwo-content{
    flex: 1;
}

.featurettwo-content h2{
    border-bottom: 1px solid #a000eb;
    padding-bottom: 1rem;
    width: 20rem;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.featurettwo-content p{
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}



.btn-feattwo{
    text-decoration: none;
    margin-top: 1rem;
    width: 10rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(90deg, #c54dfd 0%, #a000eb 100%);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-feattwo:hover{
    background: linear-gradient(90deg, #a000eb 0%, #c54dfd 100%);
}

    
.hero-img img{
    width: 30rem;
}

@media (max-width: 1025px){
    .featurettwo-content{
        font-size: 3rem;
        line-height: 4rem;
    }
    .featurettwo-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img img{
        width: 20rem;
    }
}

@media (max-width: 768px){
    .featurettwo-section{
        flex-direction: column;
        gap: 3rem;
    }

    .hero-img{
        margin: 2rem 0 2rem 0;
    }



    .featurettwo-content h2,
    .featurettwo-content p{
        width: auto;
        text-align: center;
    }

    .featurettwo-btn{
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 600px){
    .featurettwo-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .featurettwo-content p{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img img{
        width: 16rem;
    }
}